<%- include ('partials/header'); %>
<p class="not_found">
  NOT FOUND
</p>
<img src="https://cdn.pixabay.com/photo/2019/07/15/23/51/magnifying-4340698_960_720.jpg" 
     alt="man in the forefront looks at us through a magnifying glass">
<%- include ('partials/footer'); %>